@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

body{ 
    background-color: #000000;
    color: white;
}

footer{
    font-family: 'PT Serif', serif;
    }

.title{
    font-size:55px;
    text-align: center;
    margin: auto; 
}

.hgif{
    text-align: center;
}

.name {
    text-align: center;
    margin: auto; 

}

.name a  {
    padding: 0px 45px 0px 45px;
    display: inline-block;
    color: white;
}

.head{
    background-color: #5673F5;
    position: fixed;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 1px;
    top: 0;
}

.head a{
    text-align: center;
    margin: auto;
    display: inline-block;
    color: white;
    padding: 0px 45px 0px 45px;
}

.menu{
    color: white;
    display: inline-block;
    padding: 0px 45px 0px 45px;
}


nav{
    position: fixed;
    width: 300px;
    top: 150px;
    left: 25px;
}
.names a{
    color: white;
    padding: 0px 45px 0px 45px;
}

main{
    width: 960px;
    margin-left: 350px;
    padding: 10px;
}

strong{
    color: #5673F5;
    font-size: 44px;
}

.divider{
    border-top: 2px solid white;
    width: 100%;
    margin: 10px;
}

.feed{
    max-width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
}

.square{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 800px;
    margin: auto;
    align-items: center;
}

.square2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 800px;
    margin: auto;
    align-items: center;
}

.square3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 800px;
    margin: auto;
    align-items: center;
}